{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for genre in genres %}
            <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{genre.nom}}</text></svg>
                <div class="card-body">                
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">                  
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                   
                </div>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>    
{% endblock %}
