  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href={{path('home')}} class="nav-link active" >Home</a></li>
        <li class="nav-item"><a href={{path('Affiche_genre')}} class="nav-link">Gnere</a></li>
        <li class="nav-item"><a href={{path('livre_ajout')}} class="nav-link">Ajouter livre</a></li>
        <li class="nav-item"><a href={{path('genre_ajout')}} class="nav-link">Ajoute genre</a></li>
      </ul>
    </header>
  </div>