{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Titre {{livre.titre}}</h2>
    <h2>Resumé {{livre.resume}}</h2>
    <h2>Vote {{livre.votes}}</h2>
    <h2>Date d'ajout {{livre.dateAjout|date('m/d/y')}}</h2>
    <h2>Genre {{livre.genre.nom}}</h2>
</div>
{% endblock %}
